.container{
    display: flex;
    justify-content: space-evenly;
    table{
        border-collapse: collapse;
        th,td{
            border: 1px solid #333;
            width: 100px;
            text-align: center;
            word-break: break-all;
            input{
                width: 60%;
            }
        }
    }
    .result{
        width: 200px;
    }
}